<html><head><title>ABOUT</title></head>
<body background=" {{ url_for('static', filename='background.jpg')  }}  ">

<br><br><br><br><br><br>
<center>
<img src=" {{ url_for('about') }} "><img src="{{url_for('static', filename='front/profile.jpg')}}" border=5 width=300 height=300>
<blockquote>
<h2 style="font-family:Kristen ITC">
<u>Name</u>: Sumit Srivastava<br>
<u>Age</u>: 21 yrs<br>
<u>Gender</u>: Male<br>
<u>Birthday</u>: 11th March<br>
<u>Lives in</u>: Vellore<br>
<u>Education</u>: B.Tech Bioinformatics (current)<br>
<u>University</u>: VIT , Vellore<br>
<u>Email:</u> sumvast@gmail.com 



<br><br><br>

<center><a href="{{url_for('index')  }}"><h3 style="font-family:Kristen ITC">Go to homepage</h3><a></center>






</body></html>