<html><head><title>HOMEPAGE</title></head>
<body background=" {{ url_for('static', filename='background.jpg')  }}  ">


<center><h1 style="font-family:Kristen ITC"><font color="red">ACTION FIGURES</font></h1></center>

<center><img src="{{url_for('static', filename='gif/narutosasuke3.gif')}}"></center>


<table width=100% border=10>
<tr>
<td>
<img src="{{url_for('static', filename='joe/1.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/2.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/3.jpg')}}" border=5 width=300 height=400>
</td>

<tr>
<td>
<img src="{{url_for('static', filename='joe/4.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/5.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/6.jpg')}}" border=5 width=300 height=400>
</td>
</tr>

<tr>
<td>
<img src="{{url_for('static', filename='joe/7.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/8.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/9.jpg')}}" border=5 width=300 height=400>
</td>

</tr>

<tr>
<td>
<img src="{{url_for('static', filename='joe/10.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/11.jpg')}}" border=5 width=300 height=400>
</td>

<td>
<img src="{{url_for('static', filename='joe/12.jpg')}}" border=5 width=300 height=400>
</td>

</tr></table>


<center><a href="{{url_for('index')  }}"><h3 style="font-family:Kristen ITC">Go to homepage</h3><a></center>


</body></html>