<html><head><title>MANGA</title></head>
<body background=" {{ url_for('static', filename='background.jpg')  }}  ">


<center><h1 style="font-family:Kristen ITC"><font color="red">MANGA</font></h1></center>

<center><img src="{{url_for('static', filename='gif/natsugara.gif')}} "></center>

<table border=10 width=70%>
<tr>
<td>
<img src="{{url_for('static', filename='manga/manga1.jpg')}}" border="5" width="300" height="400">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">TOKYO GHOUL</h1>
<a href="http://www.mangareader.net/toukyou-kushu"><h3 style="font-family:Kristen ITC">Read online</h3></a>
</td>
</tr>




<tr>
<td>
<img src="{{url_for('static', filename='manga/manga2.jpg')}}" border="5" width="300" height="400">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">PARASYTE</h1>
<a href="http://www.mangareader.net/1415/parasyte.html"><h3 style="font-family:Kristen ITC">Read online</h3></a>
</td>
</tr>




<tr>
<td>
<img src="{{url_for('static', filename='manga/manga3.jpg')}}" border="5" width="300" height="400">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">NISEKOI</h1>
<a href="http://www.mangareader.net/nisekoi"><h3 style="font-family:Kristen ITC">Read online</h3></a>
</td>
</tr>



<tr>
<td>
<img src="{{url_for('static', filename='manga/manga4.jpg')}}" border="5" width="300" height="400">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">ALL YOU NEED IS KILL</h1>
<a href="http://www.mangareader.net/all-you-need-is-kill"><h3 style="font-family:Kristen ITC">Read online</h3></a>
</td>
</tr>




<tr>
<td>
<img src="{{url_for('static', filename='manga/manga5.jpg')}}" border="5" width="300" height="400">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">HORROR MANSION</h1>
<a href="http://www.mangareader.net/951/the-horror-mansion.html"><h3 style="font-family:Kristen ITC">Read online</h3></a>
</td>
</tr>





</table>

<center><a href="{{url_for('index')  }}"><h3 style="font-family:Kristen ITC">Go to homepage</h3><a></center>
</body></html>

