<html><head><title>HOMEPAGE</title></head>
<body background=" {{ url_for('static', filename='background.jpg')  }}  ">


<center><h1 style="font-family:Kristen ITC"><font color="red">QUOTES</font></h1></center>

<center><img src=" {{url_for('static', filename='gif/narutoichigo.gif')}}"></center>
<table width=100%>
<tr>
<td>
<center><img src=" {{url_for('static', filename='quotes/quote1.jpg')}}" border=5 width="900" height="400"></center>
</td>
</tr>

<tr>
<td>
<center><img src=" {{url_for('static', filename='quotes/quote2.jpg')}}" border=5 width="900" height="400"></center>
</td>
</tr>


<tr>
<td>
<center><img src=" {{url_for('static', filename='quotes/quote3.jpg')}}" border=5 width="900" height="400"></center>
</td>
</tr>



<tr>
<td>
<center><img src=" {{url_for('static', filename='quotes/quote4.jpg')}}" border=5 width="900" height="400"></center>
</td>
</tr>



<tr>
<td>
<center><img src=" {{url_for('static', filename='quotes/quote5.jpg')}}" border=5 width="900" height="400"></center>
</td>
</tr>


<tr>
<td>
<center><img src=" {{url_for('static', filename='quotes/quote6.jpg')}}" border=5 width="900" height="400"></center>
</td>
</tr>

</table>

<center><a href="{{url_for('index')  }}"><h3 style="font-family:Kristen ITC">Go to homepage</h3><a></center>
</body></html>