<html><head><title>TV SHOWS</title></head>
<body background=" {{ url_for('static', filename='background.jpg')  }}  ">


<center><h1 style="font-family:Kristen ITC"><font color="red">TV SHOWS</font></h1></center>

<center><img src="{{url_for('static', filename='gif/narutovssasuke2.gif')}}"></center>

<table border=10 width=100%>
<tr>
<td>
<img src="{{url_for('static', filename='tv/tv1.gif')}}" border="5" width="500" height="300">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">FULLMETAL ALCHEMIST</h1>
<a href="http://kissanime.com/Anime/Fullmetal-Alchemist-Dub"><h3 style="font-family:Kristen ITC">Watch online</h3></a>
</td>
</tr>



<tr>
<td>
<img src="{{url_for('static', filename='tv/tv2.gif')}}" border="5" width="500" height="300">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">BLEACH</h1>
<a href="http://kissanime.com/Anime/Bleach-Dub"><h3 style="font-family:Kristen ITC">Watch online</h3></a>
</td>
</tr>


<tr>
<td>
<img src="{{url_for('static', filename='tv/tv3.gif')}}" border="5" width="500" height="300">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">ONE PIECE</h1>
<a href="http://kissanime.com/Anime/One-Piece-Dub"><h3 style="font-family:Kristen ITC">Watch online</h3></a>
</td>
</tr>


<tr>
<td>
<img src="{{url_for('static', filename='tv/tv4.gif')}}" border="5" width="500" height="300">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">ATTACK ON TITAN</h1>
<a href="http://kissanime.com/Anime/Shingeki-no-Kyojin-Dub"><h3 style="font-family:Kristen ITC">Watch online</h3></a>
</td>
</tr>


<tr>
<td>
<img src="{{url_for('static', filename='tv/tv5.gif')}}" border="5" width="500" height="300">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">NARUTO</h1>
<a href="http://kissanime.com/Anime/Naruto-Dub"><h3 style="font-family:Kristen ITC">Watch online</h3></a>
</td>
</tr>


<tr>
<td>
<img src="{{url_for('static', filename='tv/tv6.gif')}}" border="5" width="500" height="300">
</td>
<td>
<center><h1 style="font-family:Kristen ITC">SWORD ART ONLINE</h1>
<a href="http://kissanime.com/Anime/Sword-Art-Online-Dub"><h3 style="font-family:Kristen ITC">Watch online</h3></a>
</td>
</tr>


</table>

<center><a href="{{url_for('index')  }}"><h3 style="font-family:Kristen ITC">Go to homepage</h3><a></center>
</body></html>
